<div class="container">
  <h2>Preview Address</h2>
  <div class="form-group row">
    <div class="col-4">
        <input type="text" class="form-control" placeholder="Enter Address" [(ngModel)]="address"/>
    </div>
    <button class="btn btn-info" (click)="submitAddress()">Preview</button>
  </div>
</div>

<div class="container" id="contact">
  <h2>Contact Info</h2>
    <div class="form-group">
      <div class="col-4">
        <label for="name">Name:</label>
        <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="contact.name"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-4">
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Enter Email" [(ngModel)]="contact.email"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-4">
        <label for="phone">Phone Number:</label>
        <input type="text" class="form-control" placeholder="Enter Phone Number" [(ngModel)]="contact.phone"/>
      </div>
    </div>
    <button class="btn btn-success" (click)="createLocation()">Submit Location</button>
</div>

<div class="map">
  <agm-map [latitude]="location?.lat" [longitude]="location?.lng">
    <agm-marker [latitude]="location?.lat" [longitude]="location?.lng">
      <agm-info-window>
        <strong>Contact Info</strong><br>
        <p>{{contact.name}}</p>
        <p>{{contact.email}}</p>
        <p>{{contact.phone}}</p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
